/*home page*/
.header{
    list-style-type:none;
    text-align: center;
}

.header ul li{
    display: inline;
    padding: 2%;
}

.boxes{
    width: 310px;
    height: 500px;
    background-color: yellow;
    margin: 1%;
    padding: 1%;
    float: left;
    overflow: auto;
}
.box{
  background-color: #FFA500;
}

.box img {
      width: 100%;
      height: 80%;
}
.images img {
      object-fit: cover;
}

.footer{
    background-color: black;
    color: white;
    padding: 0.5% 2% 2%;
    text-align: start;
}
.clearfix{
    float: none;
    clear: both;
}

/*booking page*/
}
.background{
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;
}
.booking-form{
    background-color: rgba(255,255,255,0.7);
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;

    width: 300px;
    height: 500px;
    margin: 1%;
    float: left;
    overflow: auto;
}
.booking-form h2{
    text-align: center;
}
.booking-form form{
    display: flex;
    flex-direction: column;
    overflow: right;
}
.booking-form input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*seats choice*/
.seating{
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 550px;
  height: 500px;
  margin: 1%;
  float: left;
  overflow: auto;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#screen {
    font-weight: bold;
    margin-top: 20px;
}

#seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    background-color: #b5b5b5;
}

.seat.selected {
    background-color: lightblue;
}

#selected-seats {
    margin: 50px;
}
#book{
  background-color: #FF6348;
  width: 100px;
  height: 60px;
  font-weight: bold;
}

.seat-info{
  margin: 1%;
  float: inline-end;
  overflow: right;
}